<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agrismart">

    <application
        android:name=".Notification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Agrismart"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CropInfoShow"></activity>
        <activity android:name=".BrowseCrop" />
        <activity android:name=".UpdateCrop2" />
        <activity android:name=".DeleteCrop" />
        <activity android:name=".UpdateCrop" />
        <activity android:name=".UploadFile" />
        <activity
            android:name=".WeatherInformation"
            android:label="@string/title_activity_weather_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminPage" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".Menu" />
        <activity android:name=".MyAdapter" />
        <activity android:name=".RegistrationInput" />
        <activity android:name=".Extra" />
        <activity android:name=".RegisterCrops" />
        <activity android:name=".MyCrops" />
        <activity android:name=".SuggestedCropList" />
        <activity android:name=".PlantDescription" />
        <activity android:name=".SelectionPage" />
        <activity android:name=".SuggestPage" />
        <activity android:name=".MarketPrice" />
        <activity android:name=".NewTechnology" />
        <activity android:name=".Progress" />
        <activity android:name=".Insecticide" />
        <activity android:name=".Fertilizing" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>